p{
    color: red;
}
.form-control.input-group-addon  {
    box-shadow: none;
    border-color:  rgb(146, 138, 138);
    
}

.form-control:focus {
    border-color: #4aba70; 
}

.form-control, .btn {        
    border-radius: 3px;
}
.data-form {
    width: 500px;
    margin: 0 auto;
    padding: 30px 0;
}
.data-form form {
    color: black;
    border-radius: 3px;
    margin-bottom: 15px;
    background: #fff;
    box-shadow: 10px 2px 10px blueviolet;
    padding: 30px;
}
.data-form h2 {
    color: #333;
    font-weight: bold;
    margin-top: 0;
}
.data-form hr {
    margin: 0 -30px 20px;
}
.data-form .form-group {
    margin-bottom: 20px;
}
.data-form label {
    font-weight: normal;
    font-size: 13px;
    text-decoration: black;
}

.data-form .form-control {
    min-height: 38px;
    box-shadow: none !important;
}	
.data-form .input-group-addon {
    max-width: 42px;
    text-align: center;
}
  
button{
    margin-left: 5px;
}


